.rcw-conversation-container > .rcw-header {
  background-color: #1d63bf;
}
.rcw-launcher {
    background-color: #1d5ebf;
}
.rcw-conversation-container .rcw-header {
    padding: 10px 0 15px;
}
.rcw-conversation-container .rcw-title {
    padding: 5px 0;
}

.rcw-sender .rcw-picker-btn {
    display: none;
}

.rcw-new-message {
    width: calc(100% - 37px);
}