.logo {
  margin: 0;
  padding: 0;
  display: inline-flex;
  align-items: center;
  background: none;
  border: none;

  img {
    height: 45px;
    width: auto;
    background: none;
    border: none;
    display: block;
  }
}
