@primary-color: #305681;
@success-color: #16c274;
@info-color: #2391f1;
@warning-color: #e6aa07;
@error-color: #fd5743;
@layout-header-background: #2b2e39;
@menu-item-color: #000;
@page-max-width: 1400px;
@page-min-width: 576px;
@footer-height: 50px;
