@import "/imports/client/styles/variables";

.file-manager-page-wrapper {
  background-color: white;
  padding: 24px;

  display: flex;
  align-items: stretch;

  .file-manager {
    margin-top: 24px;
  }
}



//.GEO-form {
//  background: white;
//  width: 100%;
//  margin-top: 10px;
//  height: ~"calc(100vh - 210px)";
//  overflow-y: auto;
//}
