.contact-page-wrapper {
	padding: 24px;
	margin: auto;
	margin-top: 24px;
	max-width: 1400px;
	background: white;
	font-size: 15px;

	h1{
		font-weight: bold;
		font-size: 20px;
	}

	i{
		margin-right: 10px;
		font-weight: bold;
	}
}